.page-wrapper {
  overflow: hidden;
}
.page-container {
  background: #e5e5e5;
  padding-left: 300px;
}
.page-container2 {
  background: #f2f2f2;
  padding-left: 300px;
}
.page-container3 {
  background: #f7f7f7;
}
.main-content {
  padding-top: 116px;
  min-height: 100vh;
}
.page-content--bgf7 {
  background: #f7f7f7;
}
.page-content--bge5 {
  background: #e5e5e5;
  height: 100vh;
}
.main-content--pb30 {
  padding-bottom: 30px;
}