// COLORS

$black: #000;
$white: #fff;
$red: #ff2e44;

$color_1: #666;
$color_2: #333333;
$color_3: #333;
$color_4: #393939;
$color_7: #808080;
$color_8: #999;
$color_9: #4c4c4c;
$color_10: #495057;
$color_11: #a9b3c9;
$color_12: #555;
$color_13: #4272d7;
$color_14: #3868cd;
$color_15: #c9c9c9;
$color_16: #ccc;
$color_17: #777777;
$color_18: #222;
$color_19: rgba(255, 255, 255, 0.6);
$color_20: white;
$color_21: #63c76a;
$color_22: #ff4b5a;
$color_23: #00ad5f;
$color_24: #fa4251;
$color_25: rgba(128, 128, 128, 0.6);
$color_27: #010202;
$color_28: #868e96;
$color_29: #28a745;
$color_30: #17a2b8;
$color_31: #ffc107;
$color_32: #f8f9fa;
$color_33: #343a40;

$font_family_1: "Poppins", sans-serif;
$font_family_2: "Material-Design-Iconic-Font";
$font_family_3: FontAwesome, cursive;
$font_family_4: FontAwesome;

$background_color_1: #fff;
$background_color_2: transparent;
$background_color_3: #e9ecef;
$background_color_4: #f5f5f5;
$background_color_5: #4272d7;
$background_color_6: #f8f9fa;

$border_color_1: rgba(255, 255, 255, 0.2);
$border_color_2: #fff transparent transparent transparent;
$border_color_3: transparent transparent #fff transparent;
$border_color_4: #808080 transparent transparent transparent;
$border_color_5: transparent transparent #808080 transparent;
$border_color_6: #ebebeb;
$border_color_7: #d9f1e3;
$border_color_8: #2858be;
$border_color_9: #4272d7;
$border_color_10: #6c757d;
$border_color_11: #868e96;
$border_color_12: #1e7e34;
$border_color_13: #28a745;
$border_color_14: #117a8b;
$border_color_15: #17a2b8;
$border_color_16: #d39e00;
$border_color_17: #ffc107;
$border_color_18: #ff182b;
$border_color_19: #ff4b5a;
$border_color_20: #dae0e5;
$border_color_21: #f8f9fa;
$border_color_22: #1d2124;
$border_color_23: #343a40;

$border_left_color_1: #00ad5f;


$font-lighter    : 200;
$font-light      : 300;
$font-regular    : 400;
$font-medium     : 500;
$font-semi-bold  : 600;
$font-bold       : 700;
$font-bolder     : 800;
$font-black      : 900;